@font-face {
    font-family: Circular-Black;
    src: url(assets/fonts/CircularStd-Black.otf);
}

@font-face {
    font-family: Circular-Book;
    src: url(assets/fonts/CircularStd-Book.otf);
}

@font-face {
    font-family: Circular-BlackItalic;
    src: url(assets/fonts/CircularStd-BlackItalic.otf);
}

@font-face {
    font-family: Circular-Bold;
    src: url(assets/fonts/CircularStd-Bold.otf);
}

@font-face {
    font-family: Circular-BoldItalic;
    src: url(assets/fonts/CircularStd-BoldItalic.otf);
}

@font-face {
    font-family: Circular-BookItalic;
    src: url(assets/fonts/CircularStd-BookItalic.otf);
}

@font-face {
    font-family: Circular-Light;
    src: url(assets/fonts/CircularStd-Light.otf);
}

@font-face {
    font-family: Circular-LightItalic;
    src: url(assets/fonts/CircularStd-Light\ Italic.otf);
}

@font-face {
    font-family: Circular-Medium;
    src: url(assets/fonts/CircularStd-Medium.otf);
}

@font-face {
    font-family: Circular-MediumItalic;
    src: url(assets/fonts/CircularStd-MediumItalic.otf);
}

* {
    font-family: Circular-Book;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
}

h1 {
    text-align: center;
    font-size: 60px;
}

h2 {
    font-family: Circular-Light;
    text-align: center;
}

.bold-font {
    font-family: Circular-Black;
}

a {
    color: black;
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

button:hover {
    cursor: pointer;
}

.space {
    margin-top: 200px;
}

/* Navbar */

.nav-section {
    display: flex;
    justify-content: space-between;
    margin: 75px 15%;
}

.nav-links {
    display: flex;
}

.nav-link-item {
    padding: 0px 20px;
}

.buttons {
    padding: 15px 25px;
    border-radius: 10px;
}

.button-blue {
    color: white;
    background-color: blue;
}

.termin-button-white {
    background-color: white;
}

.main-content {
    margin: 0px 15%;
}

/* Header*/

.header-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-description {
    margin-top: 30px;
}

.header-buttons-wrapper {
    display: flex;
    justify-content: center;
}

.header-button {
    margin: 50px 20px;
}

/* About Me */

.about-me-section {
    margin-top: 150px;
    border-radius: 10px;
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 5%;
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-me-section img {
    margin-top: -250px;
    margin-bottom: 50px;
    height: 500px;
    width: 500px;
}

.about-me-description {
    color: white;
    font-size: 20px;
}

.about-me-infos {
    width: 50%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    color: white;
}

/* Content One */

.content-one {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-image-left {
    height: 400px;
}

.content-image-right {
    height: 400px;
}

.content-image-right-1 {
    height: 300px;
}

.content-info-box {
    width: 40%;
    justify-content: center;
}

.content-heading {
    font-family: Circular-Bold;
    font-size: 40px;
}

.content-description {
    margin-top: 30px;
    font-size: 20px;
    color: black;
}

.work-together-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 100px;
}

.work-together-box img {
    height: 350px;
    width: 275px;
    border-radius: 10px;
}

.work-together-item {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.work-heading {
    font-size: 18px;
    margin-top: 20px;
}

.work-paragraph {
    font-size: 18px;
    margin-top: 15px;
}

.work-button {
    display: flex;
    justify-content: center;
}

.work-img {
    background-color: rgb(243, 243, 243);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 50px;
}

.how-we-work-box {
    background-color: rgb(243, 243, 243);
    margin-top: 100px;
    border-radius: 10px;
    padding: 50px 50px;
}

.grid {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(3);
}

.grid-item {
    margin: 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-item img {
    height: 100px;
    margin-bottom: 10px;
}

.faq {
    cursor: pointer;
    margin-bottom: 20px;
    padding: 20px 20px;
    border-radius: 10px;
    background-color: rgb(243, 243, 243);
}

.faq-wrapper {
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.question {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.answer {
    margin-top: 20px;
    font-size: 18px;
    display: none;
}

.show {
    display: block;
}

.icons-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 50px;
    background-color: rgb(243, 243, 243);
    border-radius: 10px;
}

.icons-section img{
    height: 40px;
}

.text-content-heading{
    font-family: Circular-Black;
    text-align: start;
    margin-bottom: 10px;
}

.text-content-paragraph{
    font-family: Circular-Light;
}

.text-item{
    margin-top: 50px;
}

.text-content-space{
    margin-top: 30px;
}

.customer-reviews-wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.customer-reviews-heading{
    text-align: start;
}

.customer-reviews-item{
    width: 30%;
    background-color: rgb(243, 243, 243);
    border-radius: 10px;
    padding: 20px 20px;
}

/* Footer */

.footer-section {
    background-color: blue;
    color: white;
}

.footer-box {
    display: flex;
    justify-content: center;
}

.footer-link-box {
    margin: 150px 100px;
}

.footer-link-box a {
    color: white;
}

.footer-heading {
    font-family: Circular-Bold;
    font-size: 30px;
    text-align: left;
    padding-bottom: 20px;
}

.footer-link-box li {
    padding: 5px 0px;
}

/* Laptop */
@media screen and (min-width: 1280px) and (max-width: 1440px) {

    .main-content {
        margin: 0px 10%; 
    }
}

/* Tablet */
@media screen and (min-width: 767px) and (max-width: 1023px) {

    h1 {
        text-align: center;
        font-size: 40px;
    }

    .main-content {
        margin: 0px 5%;
    }

    .icons-section{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 30px;
        background-color: rgb(243, 243, 243);
        border-radius: 10px;
    }
    
    .icons-section img{
        height: 30px;
    }

    .faq {
        cursor: pointer;
        margin-bottom: 20px;
        padding: 20px 20px;
        border-radius: 10px;
        background-color: rgb(243, 243, 243);
    }
    
    .faq-wrapper {
        margin-right: 10%;
        margin-left: 10%;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    .question {
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
    }
    
    .answer {
        margin-top: 20px;
        font-size: 18px;
        display: none;
    }
    
    .show {
        display: block;
    }

    /* Footer */

    .footer-section {
        background-color: blue;
        color: white;
    }

    .footer-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .footer-link-box {
        margin: 150px 100px;
    }

    .footer-link-box a {
        color: white;
    }

    .footer-heading {
        font-family: Circular-Bold;
        font-size: 30px;
        text-align: left;
        padding-bottom: 20px;
    }

    .footer-link-box li {
        padding: 5px 0px;
    }

}

/* Mobile */
@media screen and (max-width: 767px) {

    h1 {
        text-align: center;
        font-size: 30px;
    }

    .mobile{
        display: none;
    }

    .nav-section {
        display: flex;
        justify-content: space-between;
        margin: 50px 5%;
    }
    
    .nav-links {
        display: flex;
    }
    
    .nav-link-item {
        font-size: 15px;
        padding: 0px 5px;
    }

    .buttons {
        padding: 10px 15px;
        border-radius: 10px;
    }
    
    .button-blue {
        color: white;
        background-color: blue;
    }
    
    .termin-button-white {
        background-color: white;
    }

    .header-description{
        font-size: 18px;
    }

    .main-content {
        margin: 0px 5%;
    }

    .space{
        margin-top: 100px;
    }

    .about-me-section {
        margin-top: 100px;
        border-radius: 10px;
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 5%;
        background-color: blue;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .about-me-section img {
        margin-top: -150px;
        margin-bottom: 50px;
        height: 300px;
        width: 300px;
    }
    
    .about-me-description {
        color: white;
        font-size: 18px;
    }
    
    .about-me-infos {
        width: 100%;
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        color: white;
    }

    .content-one {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .content-image-left {
        height: 200px;
    }
    
    .content-image-right {
        width: 100%;
        height: 90%;
    }
    
    .content-image-right-1 {
        width: 100%;
        height: 90%;
    }
    
    .content-info-box {
        width: 90%;
        margin: 20px 5%;
        justify-content: center;
    }

    .content-reverse{
        flex-direction: column-reverse;
    }

    .content-column{
        flex-direction: column;
    }
    
    .content-heading {
        font-family: Circular-Bold;
        font-size: 30px;
    }
    
    .content-description {
        margin-top: 30px;
        font-size: 18px;
        color: black;
    }

    .icons-section{
        display: grid;
        grid-template-columns: repeat(3, 30%);
        grid-template-rows: repeat(3);
        align-items: center;
        padding: 15px 15px;
        background-color: rgb(243, 243, 243);
        border-radius: 10px;
    }
    
    .icons-section img{
        height: 20px;
    }

    .faq {
        cursor: pointer;
        margin-bottom: 20px;
        padding: 20px 20px;
        border-radius: 10px;
        background-color: rgb(243, 243, 243);
    }
    
    .faq-wrapper {
        margin-right: 5%;
        margin-left: 5%;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    .question {
        font-size: 15px;
        font-weight: bold;
        cursor: pointer;
    }
    
    .answer {
        margin-top: 20px;
        font-size: 13px;
        display: none;
    }
    
    .show {
        display: block;
    }

    .customer-reviews-wrapper{
        display: block;
        margin-top: 100px;
    }
    
    .customer-reviews-heading{
        text-align: center;
    }
    
    .customer-reviews-item{
        width: 90%;
        background-color: rgb(243, 243, 243);
        border-radius: 10px;
        padding: 20px 20px;
        margin:  20px 5%;
    }

    .work-together-box {
        display: block;
        margin-top: 100px;
    }
    
    .work-together-box img {
        height: 350px;
        width: 275px;
        border-radius: 10px;
    }
    
    .work-together-item {
        margin: 40px 5%;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .work-heading {
        font-size: 18px;
        margin-top: 20px;
    }
    
    .work-paragraph {
        font-size: 18px;
        margin-top: 15px;
    }
    
    .work-button {
        display: flex;
        justify-content: center;
    }

    .how-we-work-box {
        background-color: rgb(243, 243, 243);
        margin-top: 100px;
        border-radius: 10px;
        padding: 20px 20px;
    }
    
    .grid {
        display: grid;
        justify-content: space-between;
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: repeat(1);
    }
    
    .grid-item {
        margin: 30px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .grid-item img {
        height: 80px;
        margin-bottom: 10px;
    }

    /* Footer */

    .footer-section {
        background-color: blue;
        color: white;
    }

    .footer-box {
        padding-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .footer-link-box {
        margin: 50px 50px;
    }

    .footer-link-box a {
        color: white;
    }

    .footer-heading {
        font-family: Circular-Bold;
        font-size: 30px;
        text-align: left;
        padding-bottom: 20px;
    }

    .footer-link-box li {
        padding: 5px 0px;
    }

}